[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "anovir"]
	path = anovir
	url = https://github.com/cran/anovir
	shallow = true
	registered = true
